<?xml version="1.0"?>

<model>
  <name>Moon Wall </name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Optional: Oscar Fuentes	</name>
    <email>Optional: ofc80@comunidad.unam.mx </email>
  </author>

  <description>
A wall with a moon scene.
  </description>

</model>
