devel/
build/
.catkin_workspace
src/hsrb_moveit-v0.6.0-community/hsrb_moveit_config/launch/moveit.rviz
src/hmm_navigation/scripts/hmm_nav/aff_prop_class.joblib
src/smaches/__pycache__/
src/smaches/.ipynb_checkpoints/
src/hmm_navigation/scripts/__pycache__/
src/hmm_navigation/scripts/hmm_nav/__pycache__/
src/smaches/utils/src/utils/__pycache__/
src/planning/speech_rec/scripts/__pycache__/
src/human_detector/scripts/__pycache__/
src/segmentation/scripts/__pycache__/
src/utils/src/utils/__pycache__/
src/segmentation/scripts/__pycache__/
src/human_detector/scripts/__pycache__/
*/__pycache__/*
src/task/scripts/.ipynb_checkpoints/


