devel/
build/
.vscode
.catkin_workspace
**/__pycache__/
**/.ipynb_checkpoints/
src/hsrb_moveit-v0.6.0-community/hsrb_moveit_config/launch/moveit.rviz
src/hmm_navigation/scripts/hmm_nav/aff_prop_class.joblib
src/smaches/Untitled1.ipynb
src/navigation_pumas/config_files/receptionist_knowledge2.yaml~Stashed changes
