<?xml version="1.0"?>
<launch>
  




  <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />

 
   
  <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml" pass_all_args="true" >
    
    <arg name="map" value="$(find config_files)/prohibition_maps/robocup_2023/map.yaml" />
    
  	
  	



    <arg name="world_name" value="$(find tmc_wrs_gazebo_worlds)/worlds/rc2023_gap.world "  />
	<arg name="robot_pos" value="-x 9.3 -y 4 -z 0 -Y 3.14" />
    <arg name="use_laser_odom" value="true" />
  </include>




</launch>

