<?xml version="1.0"?>
<launch>
  
  <arg name="namespace" default="hsrb"/>
  <arg name="debug" default="false"/>
  <arg name="gui" default="true" />
  <arg name="rviz" default="true"/>
  <arg name="gazebo_visualization" default="false" />
  <arg name="use_manipulation" default="false" />
  <arg name="use_navigation" default="true" />
  <arg name="use_perception" default="true" />
  <arg name="use_task" default="true" />
  <arg name="use_teleop" default="true" />
  <arg name="use_web" default="true" />
  <arg name="use_laser_odom" default="true" />
  <arg name="paused" default="true" />
  <arg name="fast_physics" default="false" />
  <arg name="highrtf" default="false" />
  <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />
	  <arg name="map" value="$(find config_files)/prohibition_maps/robocup_2023/map.yaml" />
	  <arg name="world_name" value="$(find tmc_wrs_gazebo_worlds)/worlds/rc2023_gap.world "  />
	  <arg name="robot_pos" value="-x 9.3 -y 4 -z 0 -Y 3.14" />


  <param name="/use_sim_time" value="true" />

    
     <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml">
      <arg name="debug" value="$(arg debug)"/>
      <arg name="fast_physics" value="$(arg fast_physics)" />
      <arg name="gazebo_visualization" value="$(arg gazebo_visualization)" />
      <arg name="paused" value="$(arg paused)" />
      <arg name="world_name" value="$(arg world_name)" />
      <arg name="robot_pos" value="$(arg robot_pos)" />
      <arg name="gui" value="$(arg gui)"/>
      <arg name="robot_name" value="$(arg robot_name)" />
      <arg name="map" value="$(arg map)" />
      <arg name="namespace" value="$(arg namespace)"/>
      <arg name="rviz" value="$(arg rviz)"/>
      <arg name="use_laser_odom" value="$(arg use_laser_odom)" />
      <arg name="use_manipulation" value="$(arg use_manipulation)" />
      <arg name="use_navigation" value="$(arg use_navigation)" />
      <arg name="use_perception" value="$(arg use_perception)" />
      <arg name="use_task" value="$(arg use_task)" />
      <arg name="use_teleop" value="$(arg use_teleop)" />
      <arg name="use_web" value="$(arg use_web)" />
    </include>
  	
   <!-- moveit-->
    <include file="$(find hsrb_moveit_config)/launch/hsrb_demo_with_controller.launch">
      <arg name="use_gui" value="true"/>
      <arg name="load_robot_description" value="false"/>
    </include>


</launch>

