<?xml version="1.0"?>
<launch>
<include file='$(find nav_pumas)/config_files/launch/navigation_TID.launch'/>
  <!-- <include file="$(find nav_pumas)/config_files/launch/navigation_real.launch"/> -->
  <!-- <node pkg="human_detector"  name="human_detector" type="pointing_detector_server.py"/>   -->
  <node pkg="face_recog"  name="face_recog" type="face_recog_server.py"/>
  <node pkg="face_recog"  name="face_recog_deep" type="deep_server.py"/>

</launch>