<?xml version="1.0"?>
<launch>

  <!--include file="$(find nav_pumas)/config_files/launch/navigation_real.launch"/-->
  <node pkg="human_detector"  name="human_detector" type="human_detector_server.py"/>  
  <node pkg="smach_viewer"  name="smach_viewer" type="smach_viewer.py"/>  
  <node pkg="segmentation"  name="segmentator_node" type="segment_node.py"/>  

  <!--node pkg="leg_finder"      name="leg_finder"     type="leg_finder_node" output="screen"/-->  
  
  <!--node name="human_follower"  pkg="human_follower"  type="human_follower_node"  output="screen"/-->

<!--include file="$(find speech_recog)/launch/ros_vosk.launch"/-->

</launch>

 
