<launch>  
  
  <include file="$(find hsrb_moveit_config)/launch/hsrb_demo_with_controller.launch"> 
  <arg name="use_gui" value="true"/> 
  </include>

  <!-- REAL ROBOT -->
  <param name="file_name" value="/known_locations_storing.yaml"/>
  
  <!-- FOR SIMULATION -->
  <!--param name="file_name" value="/known_locations_storing_sim_TMR.yaml"/-->

  <node pkg="hmm_navigation"  name="pumas_nav" type="pumas_nav.py" output="screen" />
  <node pkg="known_locations_tf_server"  name="known_locs" type="known_locs_node.py" output="screen" />
  <node pkg="object_classification"  name="objs_reco" type="classification_server.py"  />  
  <node pkg="segmentation"  name="segmentation" type="segment_node.py"  />  
  <node pkg="segmentation"  name="placing_finder" type="placing_finder_node.py"  />  
  <node pkg="smach_viewer"  name="smach_viewer" type="smach_viewer.py"  />    
  <node pkg="point_cloud"  name="point_cloud_filter_node" type="passthrough_filter"/>  
  <node pkg="action_server"  name="action_server" type="ACT_SRVR_grasp_mio.py"/>  
  <node pkg="action_server"  name="place_action_server" type="ACT_SRVR_place.py"/> 
  <node pkg="segmentation"  name="segment_region" type="segment_region_server.py"/>
  

  <!--param name="map_yaml" value="/home/joel/Repositories/catkin_extras/src/navigation_pumas/config_files/prohibition_maps/map_lab_2024/map.yaml"/-->  
  
</launch>  