<?xml version="1.0"?>
<launch>
  <arg name="robot_name" default="$(optenv ROBOT_NAME hsrb)" />

<include file="$(find hsrb_moveit_config)/launch/hsrb_demo_with_controller.launch">
  <arg name="use_gui" value="true"/>
  <!--arg name="load_robot_description" value="false"/-->
</include>


  <include file="$(find hsrb_gazebo_launch)/launch/include/hsrb_gazebo_common.xml" pass_all_args="true" >
    <arg name="map" value="$(find tmc_wrs_gazebo_worlds)/maps/moon/map.yaml" />
    <!--arg name="map" value="$(find tmc_potential_maps)/maps/white_space/map.yaml" /-->
    
    <arg name="world_name" value="$(find tmc_wrs_gazebo_worlds)/worlds/moon.world "  />
 
	<arg name="robot_pos" value="-x 0 -y 0 -z 0 -Y 0" />
    <arg name="use_laser_odom" value="true" />
  </include>


  
   
  <!--node pkg="hmm_navigation"  name="PotFIELDSreal" type="potfields_takeshi_navroute.py"/-->  
  <node pkg="hmm_navigation"  name="PotFIELDSreal" type="potfields_takeshi.py"/>  
  <!--node pkg="hmm_navigation"  name="PotFIELDSreal" type="potfields_takeshi_real.py"/-->  
  
  <node pkg="known_locations_tf_server"  name="Known_locations_tf_server" type="setbool_service_locs_tf.py"/>  


</launch>

 