<?xml version="1.0"?>
<launch>

<include file="$(find hsrb_moveit_config)/launch/hsrb_demo_with_controller.launch">
  <arg name="use_gui" value="true"/>
  <!--arg name="load_robot_description" value="false"/-->
</include>
  
   
  
  <!--node pkg="act_recog"  name="act_recog" type="action_recognition_server.py"/-->  
  <!--node pkg="face_recog"  name="face_recog" type="face_recog_server.py"/-->  
  <node pkg="smach_viewer"  name="smach_viewer" type="smach_viewer.py"/>  
  <node pkg="segmentation"  name="segmentator_node" type="segment_floor.py"/>  


</launch>

 