<?xml version="1.0"?>
<launch>

<include file="$(find hsrb_moveit_config)/launch/hsrb_demo_with_controller.launch">
  <arg name="use_gui" value="false"/>
  <!--arg name="load_robot_description" value="false"/-->
</include>
  
   
  
  <node pkg="human_detector"  name="human_detector" type="human_detector_server.py"/>  
  <node pkg="smach_viewer"  name="smach_viewer" type="smach_viewer.py"/>  
  <node pkg="segmentation"  name="segmentator_node" type="segment_floor.py"/>  

  <node pkg="leg_finder"      name="leg_finder"     type="leg_finder_node" output="screen"/>  
  
  <node name="human_follower"  pkg="human_follower"  type="human_follower_node"  output="screen"/>

<include file="$(find speech_recog)/launch/ros_vosk.launch">

  
</include>

</launch>

 
